{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">

        {% for post in post %}
            <div class="card" style="width:520px;" >
                {{post.profile.user.username }}
                <div class="container" >
                <img src="{{post.image.url}}"  width='500' height='500' alt="">
                    <br>
                    {{post.image_name}}
                    <br>
                posted {{post.pub_date|timesince}} ago

                    <input class="form-control" type="text">
                    <br>
                    <br>
                </div>
            </div>
            <br>
            <br>
        {% endfor %}
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
{% endblock %}