{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        

            {% for post in post %}
            <div class="card" style="width:520px; text-align: center;">
                {{post.profile.user.username }}
                <div class="container">
                    <div class="col-md-4 ">
                        <div class="thumbnail">
                            <img src="{{post.image.url}}" width='450px' height='300px' alt="">
                            <br>
                            {{post.image_name}}
                            <br>
                            posted  {{post.pub_date|timesince}} ago
                        </div>
                    </div>

                    
                    <br>
                    <br>
                </div>
            </div>
            <br>
            <br>
            {% endfor %}
        
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
{% endblock %}